body {
  margin: 1rem;
  padding: 1rem;
  font-family: 'Courier New', Courier, monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #11110c;
  color: #e3e5c3;
}

.good {
  color: #7cc8a3;
}

.bad {
  color: #d49076;
}

.primary {
  color: #7dbac6;
}

.highlight {
  color: #e3e5c3;
}

.callout {
  color: #cf83b4;
}

/* 
Gray palette

#23241d
#3c3d32
#5c5d4e
#82846f
#afb196 
*/

.box {
  padding: 1rem;
  border: 2px dotted #23241d;
}

.box__title {
  font-size: 16px;
  line-height: 0;
  text-transform: uppercase;
  font-weight: 500;
}

.box__channel {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0;
  border-bottom: 1px dotted #23241d;
  display: flex;
}

.box__display {
  display: flex;
  flex: 1;
}

.box__value {
  display: flex;
}

.box__divider {
  padding: 2rem 0 1rem;
}

.loader {
  display: flex;
  flex: 1;
  min-height: 500px;
  justify-content: center;
  align-items: center;
}

